USE [master]
GO
/****** Object:  Database [Supermercado-LUG]    Script Date: 26/11/2023 0:15:36 ******/
CREATE DATABASE [Supermercado-LUG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Supermercado-LUG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Supermercado-LUG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Supermercado-LUG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Supermercado-LUG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Supermercado-LUG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Supermercado-LUG]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[dni] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[id] [int] NOT NULL,
	[nro_venta] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cant_producto] [int] NOT NULL,
	[subtotal] [int] NOT NULL,
 CONSTRAINT [PK_DetalleVenta_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginUser]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginUser](
	[user_id] [int] NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[id_cliente] [int] NULL,
	[admin] [bit] NOT NULL,
 CONSTRAINT [PK_LoginUser] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedioDePago]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedioDePago](
	[id_cliente] [int] NOT NULL,
	[id_tipo_tarjeta] [int] NOT NULL,
	[nro_tarjeta] [int] NOT NULL,
	[fecha_caducidad] [datetime] NOT NULL,
	[cvv] [int] NOT NULL,
 CONSTRAINT [PK_MedioDePago] PRIMARY KEY CLUSTERED 
(
	[nro_tarjeta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](150) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[precio] [money] NOT NULL,
	[stock] [int] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTarjeta]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTarjeta](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoTarjeta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[nro_venta] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[total] [money] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[nro_tarjeta] [int] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[nro_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categoria] ([id], [nombre], [descripcion]) VALUES (1, N'Pastas', N'Harina')
INSERT [dbo].[Categoria] ([id], [nombre], [descripcion]) VALUES (3, N'Lacteos', N'La Serenisima')
INSERT [dbo].[Categoria] ([id], [nombre], [descripcion]) VALUES (4, N'Carne', N'Frigorifico')
GO
INSERT [dbo].[Cliente] ([dni], [nombre], [apellido], [telefono]) VALUES (1, N'Lucas', N'Antiñolo', N'123')
INSERT [dbo].[Cliente] ([dni], [nombre], [apellido], [telefono]) VALUES (2, N'Tomas', N'Juarez', N'321')
INSERT [dbo].[Cliente] ([dni], [nombre], [apellido], [telefono]) VALUES (3, N'Pedro', N'Perez', N'456')
GO
INSERT [dbo].[DetalleVenta] ([id], [nro_venta], [id_producto], [cant_producto], [subtotal]) VALUES (1, 1, 6, 3, 3)
INSERT [dbo].[DetalleVenta] ([id], [nro_venta], [id_producto], [cant_producto], [subtotal]) VALUES (2, 2, 6, 2, 2)
INSERT [dbo].[DetalleVenta] ([id], [nro_venta], [id_producto], [cant_producto], [subtotal]) VALUES (3, 2, 2, 4, 200)
GO
INSERT [dbo].[LoginUser] ([user_id], [password], [id_cliente], [admin]) VALUES (0, N'8cc6cc816b1d23db06ea623f458ef3a696ebc41cac5445de1d5708e38ec498e2', 44891735, 1)
INSERT [dbo].[LoginUser] ([user_id], [password], [id_cliente], [admin]) VALUES (1, N'25bf8bed34cd760f1f5ca3c1a6cde0678c6af3deab16c588d864fbf0e94d06a8', 45225577, 1)
GO
INSERT [dbo].[MedioDePago] ([id_cliente], [id_tipo_tarjeta], [nro_tarjeta], [fecha_caducidad], [cvv]) VALUES (1, 1, 23, CAST(N'2023-10-08T18:55:15.433' AS DateTime), 234)
INSERT [dbo].[MedioDePago] ([id_cliente], [id_tipo_tarjeta], [nro_tarjeta], [fecha_caducidad], [cvv]) VALUES (2, 2, 34, CAST(N'2023-09-25T10:09:33.000' AS DateTime), 132)
INSERT [dbo].[MedioDePago] ([id_cliente], [id_tipo_tarjeta], [nro_tarjeta], [fecha_caducidad], [cvv]) VALUES (1, 2, 1323, CAST(N'2023-10-09T16:18:59.457' AS DateTime), 21)
GO
INSERT [dbo].[Producto] ([id], [nombre], [descripcion], [id_categoria], [precio], [stock]) VALUES (1, N'Churrasco', N'...', 4, 90.0000, 0)
INSERT [dbo].[Producto] ([id], [nombre], [descripcion], [id_categoria], [precio], [stock]) VALUES (2, N'Arroz', N'...', 1, 90.0000, 0)
INSERT [dbo].[Producto] ([id], [nombre], [descripcion], [id_categoria], [precio], [stock]) VALUES (4, N'PeneRigate', N'FideosItalianos', 3, 10.0000, 0)
GO
INSERT [dbo].[TipoTarjeta] ([id], [nombre]) VALUES (1, N'MasterCard')
INSERT [dbo].[TipoTarjeta] ([id], [nombre]) VALUES (2, N'Visa')
INSERT [dbo].[TipoTarjeta] ([id], [nombre]) VALUES (3, N'American Express')
GO
INSERT [dbo].[Venta] ([nro_venta], [id_cliente], [total], [fecha], [nro_tarjeta]) VALUES (1, 2, 3.0000, CAST(N'2023-10-09T16:29:03.377' AS DateTime), 34)
INSERT [dbo].[Venta] ([nro_venta], [id_cliente], [total], [fecha], [nro_tarjeta]) VALUES (2, 2, 2656.0000, CAST(N'2023-10-10T15:56:30.357' AS DateTime), 34)
INSERT [dbo].[Venta] ([nro_venta], [id_cliente], [total], [fecha], [nro_tarjeta]) VALUES (3, 1, 1004.0000, CAST(N'2023-10-10T16:08:19.950' AS DateTime), 1323)
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Producto]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVenta_Venta] FOREIGN KEY([nro_venta])
REFERENCES [dbo].[Venta] ([nro_venta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [FK_DetalleVenta_Venta]
GO
ALTER TABLE [dbo].[LoginUser]  WITH CHECK ADD  CONSTRAINT [FK_LoginUser_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([dni])
GO
ALTER TABLE [dbo].[LoginUser] CHECK CONSTRAINT [FK_LoginUser_Cliente]
GO
ALTER TABLE [dbo].[MedioDePago]  WITH CHECK ADD  CONSTRAINT [FK_MedioDePago_TipoTarjeta] FOREIGN KEY([id_tipo_tarjeta])
REFERENCES [dbo].[TipoTarjeta] ([id])
GO
ALTER TABLE [dbo].[MedioDePago] CHECK CONSTRAINT [FK_MedioDePago_TipoTarjeta]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Cliente] ([dni])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[delete_categoria]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create procedure [dbo].[delete_categoria]
 @In_id int
 as
 begin
 delete Categoria where id = @In_id
 end
GO
/****** Object:  StoredProcedure [dbo].[delete_cliente]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[delete_cliente]
@In_dni int
as
begin
delete Cliente
where dni = @In_dni
end
GO
/****** Object:  StoredProcedure [dbo].[delete_medio_pago]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[delete_medio_pago]
@In_nro_tarjeta int
as
begin
delete from MedioDePago where nro_tarjeta = @In_nro_tarjeta
end
GO
/****** Object:  StoredProcedure [dbo].[delete_producto]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[delete_producto]
@In_id int
as
begin
delete from Producto where id = @In_id
end
GO
/****** Object:  StoredProcedure [dbo].[getIdVenta]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getIdVenta]
as
begin
DECLARE @last_id int;
	SET @last_id = (SELECT COALESCE(MAX(nro_venta), 0) + 1 FROM Venta)
select @last_id
end
GO
/****** Object:  StoredProcedure [dbo].[insert_categoria]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insert_categoria]
	@In_nombre nvarchar(50) ,
	@In_descripcion nvarchar(150)
as
begin
	DECLARE @last_id int;
	SET @last_id = (SELECT COALESCE(MAX(id), 0) + 1 FROM Categoria)
	insert into Categoria (id, nombre , descripcion) 
	values ( @last_id , @In_nombre , @In_descripcion)
end
GO
/****** Object:  StoredProcedure [dbo].[insert_cliente]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insert_cliente]
@In_dni int, 
@In_nombre nvarchar(50),
@In_apellido nvarchar(50),
@In_telefono nvarchar(50)
as
begin
insert into Cliente (dni , nombre, apellido , telefono )
values
(@In_dni , @In_nombre , @In_apellido , @In_telefono )
end
GO
/****** Object:  StoredProcedure [dbo].[insert_detail]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insert_detail]
@In_nro_venta int,
@In_id_producto int ,
@In_cant_producto money,
@In_subtotal int
as 
begin
declare @last_id int;
set @last_id = (select COALESCE(MAX(id), 0 ) +1 FROM DetalleVenta)
insert into DetalleVenta
(id ,nro_venta , id_producto , cant_producto , subtotal)
values
(@last_id , @In_nro_venta , @In_id_producto , @In_cant_producto , @In_subtotal)
end

select * from Venta
GO
/****** Object:  StoredProcedure [dbo].[insert_medio_pago]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insert_medio_pago]
@In_id_cliente int,
@In_tipo_tarjeta int,
@In_nro_tarjeta int,
@In_fecha_caducidad datetime,
@In_cvv int
as
begin
insert into MedioDePago 
(id_cliente , id_tipo_tarjeta , nro_tarjeta , fecha_caducidad ,cvv)
values
(@In_id_cliente, 
@In_tipo_tarjeta , 
@In_nro_tarjeta ,
@In_fecha_caducidad ,
@In_cvv)
end
GO
/****** Object:  StoredProcedure [dbo].[insert_producto]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[insert_producto]
(
	@In_nombre nvarchar(50),
	@In_descripcion nvarchar(150),
	@In_id_categoria int,
	@In_precio money,
	@In_stock int
)
AS 
BEGIN

	DECLARE @last_id int;
	SET @last_id = (SELECT COALESCE(MAX(id), 0) + 1 FROM Producto)
	INSERT INTO Producto (id, nombre, descripcion, id_categoria, precio, stock)
	VALUES (@last_id, @In_nombre, @In_descripcion, @In_id_categoria, @In_precio, @In_stock)

END
GO
/****** Object:  StoredProcedure [dbo].[insert_venta]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[insert_venta]
@In_nro_venta int,
@In_id_cliente int ,
@In_total money,
@In_fecha datetime,
@In_nro_tarjeta int
as 
begin

insert into Venta 
(nro_venta , id_cliente , total , fecha , nro_tarjeta)
values
( @In_nro_venta , @In_id_cliente , @In_total , @In_fecha , @In_nro_tarjeta)
end
GO
/****** Object:  StoredProcedure [dbo].[select_categoria]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[select_categoria]
(
	@In_id int = NULL
)
as
begin
select * from Categoria WHERE id = @In_id OR @In_id IS NULL
end
GO
/****** Object:  StoredProcedure [dbo].[select_cliente]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[select_cliente]

as
begin
select * from Cliente
end
GO
/****** Object:  StoredProcedure [dbo].[select_detalles]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[select_detalles]
@In_nro_Venta int
as
begin
select * from DetalleVenta where nro_venta = @In_nro_Venta
end
GO
/****** Object:  StoredProcedure [dbo].[select_id_categoria]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[select_id_categoria]
@In_nombre nvarchar(50)
as
begin
select id from Categoria where nombre = @In_nombre
end
GO
/****** Object:  StoredProcedure [dbo].[select_medio_pago]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[select_medio_pago]
as
begin
select * from MedioDePago
end
GO
/****** Object:  StoredProcedure [dbo].[select_productos]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_productos]
(
	@In_id int = NULL
)
AS 
BEGIN
	SELECT * FROM Producto WHERE id = @In_id OR @In_id IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[select_tipo_tarjeta]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[select_tipo_tarjeta]
as
begin
select * from TipoTarjeta
end
GO
/****** Object:  StoredProcedure [dbo].[select_tipos_tarjetas]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_tipos_tarjetas]

AS 
BEGIN
	SELECT * FROM TipoTarjeta
END
GO
/****** Object:  StoredProcedure [dbo].[select_ventas]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[select_ventas]
as
begin
select * from Venta
end
GO
/****** Object:  StoredProcedure [dbo].[sp_create_user]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_create_user]
(
	@In_dni int, 
	@In_nombre nvarchar(50),
	@In_apellido nvarchar(50),
	@In_telefono nvarchar(50),
	@In_password nvarchar(MAX)
)
AS 
BEGIN
	INSERT INTO Cliente (dni , nombre, apellido , telefono )
	VALUES
	(@In_dni , @In_nombre , @In_apellido , @In_telefono )

	DECLARE @last_userId INT = ISNULL((SELECT MAX(user_id) + 1 FROM LoginUser), 0)

	INSERT INTO LoginUser (user_id, id_cliente, password, admin)
	VALUES (@last_userId, @In_dni, @In_password, 0)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_login]
(
	@In_password nvarchar(MAX),
	@In_id_cliente int
)
AS
BEGIN
	SELECT * FROM LoginUser WHERE password = @In_password AND id_cliente = @In_id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_venta_xml]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_select_venta_xml]
(
	@In_venta_id int 
)
AS
BEGIN
	SELECT Producto.nombre, Producto.precio, 
		VentaDetalle.cant_producto, VentaDetalle.subtotal
		FROM DetalleVenta VentaDetalle
		JOIN Venta Venta ON Venta.nro_venta = VentaDetalle.nro_venta
		JOIN Producto Producto ON Producto.id = VentaDetalle.id_producto
	WHERE Venta.nro_venta = @In_venta_id
END
GO
/****** Object:  StoredProcedure [dbo].[update_categoria]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[update_categoria]
@In_id int , @In_nombre nvarchar(50) , @In_descripcion nvarchar(150)
as
begin
update Categoria set
nombre = @In_nombre , descripcion = @In_descripcion
where id = @In_id
end
GO
/****** Object:  StoredProcedure [dbo].[update_cliente]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[update_cliente]
@In_dni int, 
@In_nombre nvarchar(50),
@In_apellido nvarchar(50),
@In_telefono nvarchar(50)
as
begin
update Cliente set 
nombre = @In_nombre ,
apellido = @In_apellido,
telefono = @In_telefono
where dni = @In_dni
end
GO
/****** Object:  StoredProcedure [dbo].[update_medio_pago]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_medio_pago]
@In_id_cliente int,
@In_tipo_tarjeta int,
@In_nro_tarjeta int,
@In_fecha_caducidad datetime,
@In_cvv int
as 
begin
update MedioDePago
set
id_cliente = @In_id_cliente,
id_tipo_tarjeta = @In_tipo_tarjeta,
fecha_caducidad = @In_fecha_caducidad ,
cvv = @In_cvv
where nro_tarjeta = @In_nro_tarjeta 
end
GO
/****** Object:  StoredProcedure [dbo].[update_producto]    Script Date: 26/11/2023 0:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[update_producto]
	@In_id int , 
	@In_nombre nvarchar(50),
	@In_descripcion nvarchar(150),
	@In_id_categoria int,
	@In_precio money,
	@In_stock int
as
begin
update Producto set nombre = @In_nombre,
					descripcion = @In_descripcion,
					id_categoria = @In_id_categoria,
					precio = @In_precio,
					stock = @In_stock
	where id = @In_id
end
GO
USE [master]
GO
